[user]
    name = Alberto Monteiro
    email = alberto.monteiro@live.com
[core]
    editor = code -n -w
[alias]
    fetchall = fetch --all --prune
    lognice = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -10
    st = status
    pr = pull
    co = checkout
    up = pull --rebase --prune
    recommit = commit -a --amend --no-edit    
    ec = config --global -e
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    wip = !git add -u && git commit -m "WIP"
    undo = reset HEAD~1 --mixed
    cob = checkout -b
    cm = !git add -A && git commit -m
[push]
    default = matching
[fetch]
	prune = true
[pull]
	rebase = true
